# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
######################################################################
# Mind that this is to be read as an overview of available
# settings which can be set in many different ways, not only
# by providing pillar values.
# The different sources will be merged. For further information,
# please see the docs, `libmapstack.jinja` as well as the configured
# default sources in `parameters/map_jinja.yaml`.
#
# This documentation will need to be updated once there is
# some learned experience. @TODO
######################################################################

# Apart from the various source files, there are two independent source trees
# for user-specific configuration.
# Generally tool_gpg > tool_global.
# `tool_global` focuses on specific users, of which most values
# will be respected by all formulae in the `tool` suite:
tool_global:
  users:

      # The following is global configuration for the user named `user`.
    user:

        # Force the usage of XDG directories for this user.
      xdg: true

        # Sync this user's config from a dotfiles repo.
        # The available paths and their priority can be found in the
        # rendered `config/sync.sls` file (currently, @TODO docs).
        # Overview in descending priority:
        # salt://dotconfig/<minion_id>/<user>/gnupg
        # salt://dotconfig/<minion_id>/gnupg
        # salt://dotconfig/<os_family>/<user>/gnupg
        # salt://dotconfig/<os_family>/gnupg
        # salt://dotconfig/default/<user>/gnupg
        # salt://dotconfig/default/gnupg
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false

        # Persist environment variables used by this formula for this
        # user to this file (will be appended to a file relative to $HOME)
      persistenv: '.config/zsh/zshenv'

        # Add runcom hooks specific to this formula to this file
        # for this user (will be appended to a file relative to $HOME)
      rchook: '.config/zsh/zshrc'

        # This user's configuration for this formula. Will be overridden by
        # user-specific configuration in `tool_gpg:users`.
        # Set this to `false` to disable configuration for this user.
      gpg:
        agent:
            # gpg-agent.conf configuration options for this user
          config:
            default-cache-ttl: 10
              # set keys to empty values for the string without config value
            enable-ssh-support: ''
            max-cache-ttl: 120
            # make sure SSH_AUTH_SOCK is getting set properly in the shellrc
          hook: true
            # populate sshcontrol file (keys gpg-agent uses for ssh connections)
          sshcontrol: []
            # add hook to ssh to autoreset TTY to current one on ssh launch
          sshrc: .ssh/config
          # gpg.conf configuration options for this user
        config:
          charset: utf8
          keyid-format: 0xlong
          no-greeting: ''
          use-agent: ''
          with-fingerprint: ''
          # update gpg-agent.conf to use pinentry-sane
        pinentry_sane: true
          # automatically insert 'export PINENTRY_USER_DATA="USE_CURSES=1"'
          # into shell rc to make shim functional
        pinentry_update_rc: false
          # import pubkeys, either by file or text
        pubkeys:
            # specify fingerprint in raw hex, without 0x and spaces
            # can also be keyid, but that has compromises
          427F11FD0FAA4B080123F01CDDFA1A3E36879494:
            - source: salt://gpg/keys/qubes-master-signing.asc
              # optionally specify trust level, one of:
              # expired, unknown, not_trusted, marginally, fully, ultimately
            - trust: ultimately
              # or keyid, not recommended though
            - type: fingerprint
          5817A43B283DE5A9181A522E1848792F9E2795E9:
            - text: |-
                -----BEGIN PGP PUBLIC KEY BLOCK-----

                mQINBFi9Xv4BEADTkOlBTDmO6DsFJi754ilTFqsluGWleeProuz8Q+bHFlx0Mqtk
                uOUcxIjEWwxhn1qN98dIPYds+mD9Bohamdh+bJYxB/YYj9B2xvURhCpxVlWzzkzt
                i1lPYhj/MR637N9JqIdILmJSBFDxmnuWfQxfsbIsi4lUx5oq6HzIAYXzUzA+0/0a
                c/j0zAm9oBq+pXPad/xkH8ebkNAL0+HbHArBNFzrhVKmi1VskpxurPIYZEcQ0dUu
                n447TM/37y+dzmNYxvSuK2zBPFa9upXsKZEoVaJqksXDdX2YuMsZFiesdieL85w7
                sD1iI6Eqmp5EIZXa8t0/MHTaDrm1tDKJdSu/5zrh0RFh+J73qxJH8lDJqcTVggCe
                Xoasoi1LNg0CIgzVM+zLEDbpNd6mILdXQNHzsU4CP2UFpMxOUUDMEPYSE3WBExWX
                0dBO8QgvTOzqvRWq7TL2jKaprsB/ZXiZief5hOK2QFL6HFEOuFuWLf3tb2+tpJoZ
                LXbXYW+6M+WNRHr9mDg3o6SuZmSwUCOa1FV/i51gqiUHmXEfIGH3iE5WWq2bvUG1
                dhjkzDGPL9fXbCWS6+QARakXRbxslsc4RgMrQR6nLEAuOL7GDaG3c7ldqgfotkal
                5KDB5/1AxYW1TC0JfoKWalYrfXlUJlbHcvDFqHdyljOnoeJ8WVqLNE9hUQARAQAB
                tB5RdWJlcyBPUyBSZWxlYXNlIDQgU2lnbmluZyBLZXmJAjcEEwEIACEFAli9Xv4C
                GwMFCwkIBwIGFQgJCgsCBBYCAwECHgECF4AACgkQGEh5L54nlem9QRAAkaDEfYey
                FoldssIDE/gliYYb7RSYBjs+QrYJQjBxFGXXPgHS5kGMZfMkqVVBc8EtHh41q7gU
                mUIHVbjnKIcYaKLaVl/qb9Jkx+6/NxEYWjNVEMMwPk820QgI1alWrweH7ZuxxGlz
                CzOQsyKZLH3TESEf46CUjv9FHW2nKPAp5qVMzLRlgtquQAdfh7SWau7Kd+WPQOiB
                9cj+j3/yswsrpLmvqJP8trS/aKAhsn2jGrxwSAbdGCzQorJjUy5HLZ6xVIk9yD0T
                +o9cbK4SQSuOHUiA9Z5gA7vuxwOuloDhIm74k2PBWMaUEvx19nIh4XmgGEKNzI6V
                SbR+s+d9ciQ/aC/bXdeeZOpCDaty54D8sKzMi2y15Urycxwpz508LwE6I3Zm0Won
                xMEf5gGR30szgQdh6sJKIqZ2nVDLBg4H1mc4CULhsgViN/vM3Rrj2t4kOwUM30AU
                M49o4JPzY4wvhsAmhIQGl38C8wDkSqPwntRsszpbLgzI3Lsxb00xiPcLR6Y/pviH
                AfHxh/1uYymjD1Fq9u9ylgR6+15qqEYY/uEHr2EQyVvXQ08R1iKkT+v8fufMFUWa
                rJxyB+5v/RPRKvRRi9Xb1HkoiFo3E/bEPYKlGA2colp5iqFYpTUBJYJXyMosgjI+
                mqH0I+V+LuMtlE521YHKg0tsB9GVlfWBS12JAjMEEAEKAB0WIQRCfxH9D6pLCAEj
                8Bzd+ho+NoeUlAUCYaQmlwAKCRDd+ho+NoeUlB40D/0YwLGqX5O6tl/q0Vehud2N
                mm5OIpxSZKrpm8vNtf2/rzumBldFSczCtVAkHo4N23hC+IGKHSG7lFZlFue/cng0
                ngopJsfhbj8eAbtdo9lqiqQaiFtUrB8hTd1HgvHjCptBKrSKn4FlJJ91ypLkoyiX
                27TcfToyEq6qFAWKXXQosYtCzh492WlD7GXXz32/1LnZKMS3TR4x+QfVRc9kn8X5
                HaempDgWw79d7ZAcSDuO4Kb2j/se4aLESTefKtJJ9LuPqhHZ+qGekUCyweiZ+mkR
                ok6XcaOHJEJgsvG1DIGwrGXyKkvqi12W8Q95XAF7y7C98vq4cVyhiLrBCbdgMY4X
                l9vHXIVEL3C032qu4AaeJ2tHZJvl1+nYqam8urQ/APk6pPVs75+IkH7zDfEHh+SF
                m6xAg/0fMKhYDlXB7l3UbiioV8vhBlHEf4XFR/VnnqM1B1TwdjywAbenc9Ev45L0
                5oqfrerACvYMxUxQVR0WQyrsLjJzinKZjjZW5KYiRn9lO+27rp1kMQHQFhNX1pnj
                oVnJIi0AtwAXumKI78SQpVRMjj6+fqusI/1Zx63XcI9Y8BBZvssYscgt2c9oMtBT
                B/Ng9EaplpSSVCsdcN85VAR7CZT5YPsvsMzSmmUUIRoEb/dHMuMmh0YbBJbBUikP
                dcBETivefvOIZRjSyZYUTg==
                =6A62
                -----END PGP PUBLIC KEY BLOCK-----

tool_gpg:

    # Specify an explicit version (works on most Linux distributions) or
    # keep the packages updated to their latest version on subsequent runs
    # by leaving version empty or setting it to 'latest'
    # (again for Linux, brew does that anyways).
  version: latest
    # install shim that switches pinentry program depending on env
    # (terminal -> tty/curses, gui -> x11/pinentry-mac)
    # path and type (tty/curses) can be customized in lookup:pinentry_sane
  pinentry_sane: true

    # Default formula configuration for all users.
  defaults:
    agent: default value for all users

    # User configuration can also be specified here in
    # `tool_gpg:users`. It will override
    # configuration sourced from `tool_global:users`.
  users:
    user:
      persistenv: '.bash_profile'
      gpg:
        agent: this overrides config from tool_globl:users

######################################################################
# The following settings define default values for this formula,
# depending on different grains. You should not have to modify them
# in most cases. For a full overview, see the different files
# in `parameters`.
######################################################################
  lookup:
    pkg:
      name: gnupg
    rootgroup: root
    paths:
      confdir: '.gnupg'
      conffile: 'gpg.conf'
      xdg_dirname: 'gnupg'
      xdg_conffile: 'gpg.conf'
    pinentry_sane:
      path: /usr/local/bin/pinentry-sane
        # when using pinentry-sane, use pinentry-tty as default interface.
        # also possible: curses
      terminal: tty

######################################################################
# This is where `tool` suite settings end and Salt behavior settings
# inherited from `salt-formulas/template-formula` start. They will
# influence how exactly the TOFS pattern is applied. Mind that
# parts of this are disabled for `configsync.sls`.
######################################################################
  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    # I.e.: salt://tool_gpg/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    source_files:
      GnuPG config file is managed for user 'user':
        - 'gpg.conf'
        - 'gpg.conf.jinja'
